{{ 'section-action-box-list.css' | asset_url | stylesheet_tag }}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="action-box-list">
    <div class="page-width isolate{% if section.settings.title == blank %} no-heading{% endif %}">
      {%- unless section.settings.title == blank -%}
        <div class="title-wrapper--self-padded-mobile title-wrapper--no-top-margin">
          <h2 id="SectionHeading-{{ section.id }}" class="action-box-list__title inline-richtext center {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            {{ section.settings.title }}
          </h2>
        </div>
      {%- endunless -%}
      <div class="action-box-list__grid grid grid--2-col-tablet grid--1-col">
        {%- for block in section.blocks -%}
          <div
            class="action-box-item grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: {{ forloop.index }};"
            {% endif %}>
                <div class="action-box-item__content">
                    <h6 class="action-box-item__subtitle">{{ bloxk.settings.subtitle }}</h6>
                    <h4 class="action-box-item__title">{{ bloxk.settings.title }}</h6>
                    <a href="" class="button button--primary"           {% if section.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ section.settings.button_link }}"
                      {% endif %}>{{ bloxk.settings.link_text }}</a>
                </div>
            </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>